<html>
	<head>
		<%content_for :title do %>Home | LogicKart<%end%>
	</head>

	<body>

	<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <hr/>
	<h1> Home Page | LogicKart </h1>
  	<hr/>
 	<%= link_to "Show Profile Details", show_path %> <br>
 	<hr/>

 	<%= link_to "Edit Details", edit_path %> <br>
 	<hr/>

  	<%= link_to "Change Password", change_password_path %> <br>
  	<hr/>

  	<%= link_to "Log out", logout_path %>
	</body>
</html>